@import 'theme.template';

$input-prefix: 'ant-input';
$input-wrapper-prefix: $input-prefix + '-affix-wrapper';
$menu-prefix: 'ant-menu';
$menu-inline-prefix: 'ant-menu-inline';
$menu-item-prefix: $menu-prefix + '-item';
$select-prefix: 'ant-select';

.siderContainer {
    display: flex;
    flex-direction: row;

    .sider {
        z-index: 5;
        width: $sidebar-menu-width;
        min-width: $sidebar-menu-width;
        background-color: $sidebar-menu-background-color;
        @include transition(width 0.2s, min-width 0.2s);

        :global(.#{$menu-inline-prefix}-collapsed) {
            width: $sidebar-menu-collapsed-width;
            min-width: $sidebar-menu-collapsed-width;

            .sidebarMenuItem {
                width: 100%;
            }
        }

        :global(.#{$menu-item-prefix}-icon) {
            min-height: $sidebar-menu-item-icon-size;
            max-height: $sidebar-menu-item-icon-size;
            min-width: $sidebar-menu-item-icon-size;
            max-width: $sidebar-menu-item-icon-size;
            font-size: $sidebar-menu-item-icon-size !important;
            line-height: $sidebar-menu-item-icon-size;
            margin: 0;
        }

        &[data-collapsed='true'] {
            width: $sidebar-menu-collapsed-width;
            min-width: $sidebar-menu-collapsed-width;

            .sidebarToggleIconContainer {
                &,
                > div {
                    text-align: center;
                    align-items: center;
                }
            }

            .sidebarMenu {
                .searchMenuItem {
                    padding: 0 10px;
                    margin-bottom: 10px;
                }

                .sidebarMenuItem {
                    .sidebarMenuItemTitle {
                        display: none;
                    }

                    img,
                    span[role='img'],
                    svg {
                        margin-right: 0;
                        display: flex;
                    }
                }
            }
        }

        .sidebarToggleIconContainer {
            margin: 10px 14px 10px 14px;
            &,
            > div {
                display: flex;
            }

            .sidebarToggleIcon {
                &:hover {
                    cursor: pointer;
                }

                * {
                    min-height: $sidebar-menu-toggle-icon-size;
                    max-height: $sidebar-menu-toggle-icon-size;
                    min-width: $sidebar-menu-toggle-icon-size;
                    max-width: $sidebar-menu-toggle-icon-size;
                    font-size: $sidebar-menu-toggle-icon-size;
                    line-height: $sidebar-menu-toggle-icon-size;
                    color: white;
                }
            }
        }

        .searchMenuItem {
            margin: 0 5px;
            height: $sidebar-menu-item-height;
            padding: 2px;
            border-radius: 4px;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            *,
            ::placeholder {
                color: $sidebar-quick-filter-input-placeholder-color;
            }
            .searchInput {
                :global(.#{$input-prefix}) {
                    color: $sidebar-quick-filter-input-text-color;
                }

                :global(.#{$input-prefix}-suffix) {
                    max-width: 16px;
                    font-size: 16px;
                }

                :global(.#{$input-prefix}-prefix) {
                    max-width: 16px;
                    font-size: 16px;
                }

                :global(.#{$input-wrapper-prefix}):hover,
                :global(.#{$input-wrapper-prefix}):focus {
                    border-color: transparent;
                }

                &:hover {
                    box-shadow: $sidebar-quick-filter-input-box-shadow-hover;
                    border-color: transparent;
                    border-radius: 2px;
                }

                :global(.#{$input-wrapper-prefix}-focused) {
                    box-shadow: $sidebar-quick-filter-input-box-shadow-focus;
                    border-color: $sidebar-quick-filter-input-border-color-focus;
                    border-radius: 2px;
                    // border-width: 3px;
                }
            }
        }

        .sidebarMenu {
            @include transition(background 0s);
            background-color: transparent;
            border: none;
            color: $sidebar-menu-item-text-color;
            font-weight: $font-weight-semibold;
            font-size: 14px;

            .sidebarMenuItem {
                margin: 0;
                height: $sidebar-menu-item-height;
                line-height: $sidebar-menu-item-height;
                display: flex;
                width: 100%;
                align-items: center;
                padding: 0 13px !important;

                .sidebarMenuItemTitle {
                    margin-left: 15px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &:focus-visible {
                    outline: none;
                    box-shadow: inset 0 0 0pt 2px $sidebar-menu-item-border-focus-color;
                }

                &:hover {
                    color: $sidebar-menu-item-hover-color;
                    opacity: $sidebar-menu-item-hover-opacity;
                }

                &::after {
                    border-right: none;
                }

                &:active {
                    opacity: 1;
                    color: $sidebar-menu-item-active-color;
                    background-color: $sidebar-menu-item-active-background-color;
                }
            }

            :global(.#{$menu-item-prefix}-selected) {
                opacity: 1 !important;
                color: $sidebar-menu-item-active-color;
                background-color: $sidebar-menu-item-active-background-color;
            }
        }
    }
}
