@import "theme.template";

.wrapper {
  width: 100%;
  display: flex;
  margin: 16px 0 12px;

  &:first-of-type {
    margin-top: 0;
  }

  span {
    margin-right: 4px;

    &.separator {
      color: $gray-5;
    }
  }
}

.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.bold {
  font-weight: 500;
}
