@import 'theme.template';

.item {
  padding: 16px;
  background-color: $gray-2;
  margin-top: 24px;

  .alert {
    align-items: baseline;
    margin-top: 16px;
    width: 100%;
  }

  .switch {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
