.summaryWrapper {
    margin-bottom: 40px;
    width: 100%;
    overflow-x: scroll;
    min-width: 530px;
}

.card {
    border: 1px solid;
    border-radius: 2px;
    border-color: var(--gray-4);
}
.card :global(.ant-card-body) {
    padding: 16px;
}

.space {
    width: 100%;
}

.bannerWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 24px;
    padding: 12px 16px;
    border: 1px solid var(--gray-4);
    border-radius: 2px;
    background-color: var(--gray-2);
    justify-content: space-between;
}

.infoWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    gap: 8px;
    padding: 12px;
    border: 1px solid var(--gray-4);
    border-radius: 2px;
}

.infoWrapper > *:not(:last-child) {
    border-right: 1px solid var(--gray-5);
    padding-right: 8px;
}

.canonicalIcon {
    fill: var(--blue-8);
}

.score {
    grid-area: score;
    border: 1px solid var(--gray-4);
    padding: 12px;
}

.geneSplice {
    grid-area: geneSplice;
    border: 1px solid var(--gray-4);
    padding: 12px;
}

.omim {
    grid-area: omim;
    border: 1px solid var(--gray-4);
    padding: 12px;
}

.detailsWrapper {
    display: grid;
    gap: 8px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 'score geneSplice omim';
}
.detailsWrapper :global(.ant-descriptions-row) td {
    padding-bottom: 4px;
}
.detailsWrapper :global(.ant-descriptions-item-label::after) {
    color: var(--gray-7);
    margin: 0 8px 0 0;
}
.detailsWrapper :global(.ant-descriptions-header) {
    margin-bottom: 8px;
}

.detailsTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 8px;
}

.detailsItem:not(:last-child) {
    margin-bottom: 12px;
}

.leftSection {
    display: flex;
}

.leftSection :global(.ant-descriptions):first-child {
    margin-right: 12px;
}

.leftSection :global(.ant-descriptions):last-child {
    margin-left: 12px;
}

.basicBordered {
    width: 100%;
}

.basicBordered :global(.ant-descriptions-view) {
    border-top: none;
    border-left: none;
    border-right: none;
}

.basicBordered :global(.ant-descriptions-item-label) {
    background: none;
    border-right: none;
    padding: 4px 0 !important;
}

.basicBordered :global(.ant-typography.ant-typography-secondary) {
    color: var(--gray-7);
}

.basicBordered :global(.ant-descriptions-item-content) {
    padding: 4px 0 !important;
    color: var(--gray-8);
    text-align: right;
}

@media (max-width: 1024px) {
    .bannerWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    .detailsWrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'score score' 'geneSplice omim';
    }
}
