@import 'colors';

.summaryWrapper {
    margin-bottom: 40px;
    width: 100%;
    overflow-x: scroll;
    min-width: 530px;
}

.card {
    border: 1px solid;
    border-radius: 2px;
    border-color: $gray-4;

    :global(.ant-card-body) {
        padding: 16px;
    }
}

.space {
    width: 100%;
}

.bannerWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 12px 16px;
    border: 1px solid $gray-4;
    border-radius: 2px;
    background-color: $gray-2;
    justify-content: space-between;
}

.infoWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    gap: 8px;
    padding: 12px;
    border: 1px solid $gray-4;
    border-radius: 2px;
}

.infoWrapper > *:not(:last-child) {
    border-right: 1px solid $gray-5;
    padding-right: 8px;
}

.canonicalIcon {
    fill: $blue-8;
}

.score {
    grid-area: score;
    border: 1px solid $gray-4;
    padding: 12px;
}

.geneSplice {
    grid-area: geneSplice;
    border: 1px solid $gray-4;
    padding: 12px;
}

.omim {
    grid-area: omim;
    border: 1px solid $gray-4;
    padding: 12px;
}

.detailsWrapper {
    display: grid;
    gap: 8px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 'score geneSplice omim';

    :global(.ant-descriptions-row) {
        td {
            padding-bottom: 4px;
        }
    }

    :global(.ant-descriptions-item-label::after) {
        color: $gray-7;
        margin: 0 8px 0 0;
    }

    :global(.ant-descriptions-header) {
        margin-bottom: 8px;
    }
}

.detailsTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 8px;
}

.detailsItem:not(:last-child) {
    margin-bottom: 12px;
}

@media (max-width: 1024px) {
    .bannerWrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .detailsWrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'score score'
            'geneSplice omim';
    }
}
