@import 'theme.template';
.count__container {
    display: flex;
    align-items: center;

    &--stack {
        .wrapper__text {
            margin-left: 1.6rem;
            display: flex;
            flex-direction: column;

            .count {
                font-size: $count-with-icon-stack-total-size;
                font-weight: $count-with-icon-stack-total-weight;
            }
            .label {
                font-size: $count-with-icon-stack-label-size;
                font-weight: $count-with-icon-stack-label-weight;
            }
        }
    }
    &--inline {
        .wrapper__text {
            margin-left: .6rem;

            .label {
                font-size: $count-with-icon-inline-label-size;
                font-weight: $count-with-icon-inline-label-weight;
            }

            .count {
                font-size: $count-with-icon-inline-total-size;
                font-weight: $count-with-icon-inline-total-weight;
                margin-right: .5rem;
            }
        }
    }
}