@import "theme.template";
.statuslabel__container {
  vertical-align: middle;
  & > :first-child {
    margin-right: 9px;
    padding: 0;
  }

  &.approved {
    color: $blue-8;
  }

  &.completed {
    color: $green-8;
  }

  &.draft {
    color: $gray-8;
  }

  &.incomplete {
    color: $magenta-7;
  }

  &.refused {
    color: $red-8;
  }

  &.submitted {
    color: $orange-8;
  }
}
