.container {
  max-width: 1600px;
  margin-bottom: 40px;
}
.container .collapse .panel .card {
  border: none;
}
.container .collapse .panel .card *[class$=-card-body] {
  padding: 0;
}
.container .collapse .panel .card *[class$=-descriptions-header] {
  width: 245px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.container .collapse .panel .card .column > :first-child *[class$=-descriptions-header] {
  margin-top: 0;
}
.container .collapse .panel .card *[class$=-descriptions-title] {
  width: 245px;
  font-weight: 500;
  font-size: 14px;
  color: var(--blue-9);
}
.container .collapse .panel .card *[class$=-descriptions-item-label] {
  width: 245px;
  background-color: var(--gray-2);
}
.container .collapse .panel .card *[class$=-descriptions-item-content] {
  width: 245px;
}

.dotted {
  border-bottom: 1px dotted;
}

.link {
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}
