.container {
    margin-bottom: 40px;

    .title {
        margin-bottom: 16px;
    }

    .collapse {
        .panel {
            .card {
                border: none;
                *[class$='-card-body'] {
                    padding: 0;
                }
            }
        }
    }
}
