.fixedWidgets {
  position: fixed;
  right: 32px;
  bottom: 102px;
  z-index: 2147483640;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  transition: color .3s;
}

.fixedWidgetsIcon svg {
  width: 36px;
  height: 36px;
}