@import 'theme.template';

.queryBuilderHeaderTools {
    .toolsContainer {
        .queryBuilderHeaderActionIconBtn {
            &:focus-visible {
                @include query-builder-header-button-focus-visible;
            }

            &:not(:disabled) {
                color: $query-builder-header-tools-icon-color;

                &.dirty {
                    color: $query-builder-header-tools-icon-color-dirty;

                    &:not(span) {
                        &:hover,
                        &:focus {
                            @include query-builder-header-button-dirty-focus;
                        }
                    }
                }

                &:not(span) {
                    &:hover,
                    &:focus-visible {
                        @include query-builder-header-button-nested-focus-visible;
                    }
                }
            }
        }
    }

    .extra {
        display: flex;
        text-decoration: none;

        .queryBuilderHeaderDdb {
            .bContent {
                .arrow {
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
}

.display-flex {
    display: flex;
    align-items: center;
}

.fuiQBHTSavedFiltersMenu {
    :global(.ant-dropdown-menu-title-content) {
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.saveCustomPillModal {
    .customPillForm {
        margin-bottom: 24px;
    }

    .message {
        color: $gray-8;
        letter-spacing: 0.25px;
    }
}
