@import 'theme.template';
.checkboxFilter {
    .checkboxFiltersContent {
        max-height: 250px;
        overflow-y: auto;

         &.withMargin {
            margin-bottom: 12px; 
         }
    }

    .filtersTypesFooter {
        border: none;        
        color: $checkbox-filter-types-mc-footer;
        padding: 0;
        text-align: left;
        height: auto;
        font-size: 12px;

        &:not(.readOnly) {
            > * {
                text-decoration: underline;
            }
    
            &:hover > * {
                text-decoration: none;
            }
        }
    }

    .fuiMcItemCheckbox {
        text-overflow: ellipsis;
        display: flex;
        flex: 1;
        align-items: center;
        line-height: $checkbox-filter-item-line-height;
        width: 75%;

        & > span {
            align-items: center;
            display: flex;
            min-height: if($checkbox-filter-item-line-height == 'inherit', 16px, inherit);
            line-height: $checkbox-filter-item-line-height;

            &:first-child {
                top: 0;
            }
        }

        & > span + span {
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.fuiCbfActions {
    border-top: 1px solid $filter-actions-border-color;
    justify-content: flex-end;
    padding-top: 16px;
    margin-top: 13px;

    .fuiCbfActionsClear {
        &:disabled {
            color: $filter-actions-disabled-color;

            span {
                text-decoration: none;
                color: $filter-actions-disabled-color;
            }
        }
    }

    .fuiCbfActionsApply {
        button {
            &:disabled {
                color: $filter-actions-disabled-color;
    
                span {
                    text-decoration: none;
                    color: $filter-actions-disabled-color;
                }
            }
        }
    }

    > * {
        text-transform: capitalize;
        margin-left: 8px !important;
    }
}

.filterSearchWrapper {
    margin-bottom: .8rem;

    .filterSearchInput {
        width: 100%;
    }
}


.filtersTypesFooter:hover, .checkboxFilterActions .checkboxFilterLinks:hover {
    background: transparent;
    border: none;
    color: $checkbox-filter-links-hover;
    text-decoration: none;
}
.filtersTypesFooter:focus, .checkboxFilterActions .checkboxFilterLinks:focus {
    background: transparent;
    border: none;
}

.checkboxFilterItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    flex: auto 0;

    .tag {
        height: fit-content;
        margin-right: 0px;
    }
}

.checkboxFilterItem:last-child {
    margin-bottom: 0;
}

.checkboxFilterActions {
    margin-bottom: 1.5rem;

    .separator {
        height: 1.2rem;
        align-self: center;
        background: $checkbox-filter-actions-separator-background;
        margin: 0 .5rem;
    }

    .checkboxFilterLinks {
        border: none;
        color: $checkbox-filter-actions-separator-links;
        padding: 0;
        font-size: $checkbox-filter-link-font-size;
        line-height: $checkbox-filter-link-line-height;
        height: auto;

        > * {
            text-decoration: underline;
        }

        &:hover > * {
            background: transparent;
            text-decoration: none;
        }
    }
}

.noResultsText {
    background: $checkbox-filter-no-results-text-background-color;
    color: $checkbox-filter-no-results-text-color;
    font-size: 14px;
    line-height: 22px;
    padding: 8px 16px;
}