.filtersContainerHeader {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .title {
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: .5rem;
    }

    .searchIconWrapper {
        display: flex;
        .fuiSearchIcon {
            width: 16px;
            height: 16px;
        }
    }
}

.filterContainer {
    width: 100%;

    .filterContainerContent {

    }
}
