@import 'theme.template';

$prefix-ant-collapse: "ant-collapse";

.filtersContainerHeader {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .titleContainer {
        display: flex;
        align-items: center;

        .hasFilterIcon {
            color: $filter-container-header-has-filter-icon-color;
            fill: $filter-container-header-has-filter-icon-color;
        }

        .title {
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: .5rem;
        }
    }

    .searchIconWrapper {
        display: flex;
    }
}

.filterContainer {
    width: 100%;
    
    .filterContainerCollapse {
        :global(.#{$prefix-ant-collapse}-header) {
            padding-top: 5.5px;
            padding-bottom: 5.5px;
            padding-right: 16px;

            :global(.#{$prefix-ant-collapse}-arrow) {
                padding-top: 5.5px;
            } 
        }
    }
}
