@import 'theme.template';

.fuiRfSelectOptionContent {
    display: flex;
    align-items: center;

    .operatorIcon {
        min-height: 16px;
        min-width: 16px;
    }

    .fuiRfSelectOptionContentTitle {
        margin-left: 8px;
    }
}

.fuiRfContainer {
    .fuiRfSectionTitle {
        margin-bottom: 0.4rem;
    }
    
    .fuiRfRangeOperator {
        margin-bottom: 0.8rem;
        .fuiRfRangeOperatorSelect {
            width: 100%;

            .operatorIcon {
                display: none;
            }

            .fuiRfSelectOptionContentTitle {
                margin-left: 0px;
            }
        }
    }    

    .fuiRfGroupedValues {
        justify-content: space-between;
        .fuiRfRangeInputContainer {
            flex-shrink: unset;
            width: 100%;

            &:first-child {
                margin-right: 0.4rem;
            }

            &:last-child {
                margin-left: 0.4rem;
            }

            .rangeInput {
                width: 100%;
            }
        }
    }

    .fuiRfRangeTarget {
        margin-top: 0.8rem;
       .fuiRfRangeTargetSelect {
           width: 100%;
       }
    }

    .fuiRfActions {
        border-top: 1px solid $filter-actions-border-color;
        justify-content: flex-end;
        padding-top: 1.3rem;
        margin-top: 1.3rem;

        .fuiRfActionsApply {
            background: $filter-actions-border-apply-background-color;
            border-color: $filter-actions-border-apply-border-color;
            color: $white;

            &:disabled {
                color: $filter-actions-border-disabled-color;
                background: $filter-actions-border-disabled-background-color;
                border-color: $filter-actions-border-disabled-border-color;
            }
        }

        > * {
            text-transform: capitalize;
            margin-left: 8px;
        }
    }
}

