@import 'theme.template';

.fuiTIfContainer {

    .fuiTIfLabelContainer {
        margin-bottom: 0.4rem;

        .fuiTIfSectionTitle {
            line-height: 20px;
            font-weight: 600;
            font-size: 12px;
        }
    
        .fuiTIfLabelTooltipIcon {
            margin-left: 5px;
            display: flex;
            align-items: center;

            svg {
                width: 12.25px;
                height: 12.25px;
            }
        }
    }

    .fuiTIfActions {
        border-top: 1px solid $filter-actions-border-color;
        justify-content: flex-end;
        padding-top: 1.3rem;
        margin-top: 1.3rem;

        .fuiTIfActionsApply {
            background: $filter-actions-border-apply-background-color;
            border-color: $filter-actions-border-apply-border-color;
            color: $white;

            &:disabled {
                color: $filter-actions-disabled-color;
                background: $filter-actions-disabled-background-color;
                border-color: $filter-actions-disabled-border-color;
            }
        }

        > * {
            text-transform: capitalize;
            margin-left: 8px;
        }
    }
}