@import "theme.template";
.fui-filter-sc {
  align-items: flex-start;

  .radio {
    display: flex;
    flex-direction: column;
    width: 100%;

    > * {
      margin-bottom: 0.8rem;
      width: 100%;
    }

    > label {
      display: flex;
    }

    > label > span:last-child {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: 0px;
    }
  }

  .tag {
    margin-right: 0.8rem;
  }

  .fui-filter-sc-button {
    padding: 0;
    height: auto;
    color: $toggle-filter-sc-button-color;
    > * {
      text-decoration: underline;
    }

    &:hover > * {
      text-decoration: none;
    }

    &-disabled {
      display: none;
    }
  }
}
