@import "theme.template";

.QBHeditModal {
  .editModalContent,
  .labelInput {
    width: 100%;

    .title {
      font-weight: $font-weight-semibold;
    }
  }
}

.QBHManageFiltersList {
  max-height: 250px;
  overflow: scroll;
}

.QBHfilterEditFormItem {
  margin: 0;
}

.QBHCollapse {
  :global(.ant-collapse-header-text) {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px 0;
  }
}

.QBHContainer {
  background-color: white;
  border-radius: 2px;
  width: 100%;
  padding-right: 24px;

  &>:global(.ant-space-item) {
    &:first-child {
      overflow: hidden;
    }
  }

  .togglerTitle {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .QBHActionContainer {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &.QBHOptionsActionsContainer {
      .iconBtnAction {
        &:focus-visible {
            border-color: $query-builder-header-tools-icon-focus;
        }
      }

      .QBHOptionsFavoriteStar {
        color: $query-builder-header-tools-favorite-icon-color;
      }
    }

    &.togglerClosed {
      border-bottom: 1px solid $query-builder-border-color;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}
