@import "theme.template";


.assignmentContainer{
    width: 300px;
}
.checkBoxContainer{
    margin: 8px 0 8px 0;
    max-height: 190px;
    width: 100%;
    overflow-y: auto;
    :global(.ant-checkbox-wrapper){
        align-items: start;
        :global(.ant-checkbox){
            margin-top: 2px;
        }
    }
}

.filterFooter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid $gray-4;
    padding: 8px 0 8px 0;
}

.resetButton{
    color: $blue-8;
    &:hover{
        color: $blue-8;
        background-color: $gray-3; 
    }
}

.tagContainer{
    height: 24px;
}