.assignmentContainer {
  width: 300px;
}

.checkBoxContainer {
  margin: 8px 0 8px 0;
  max-height: 190px;
  width: 100%;
  overflow-y: auto;
}
.checkBoxContainer :global(.ant-checkbox-wrapper) {
  align-items: start;
}
.checkBoxContainer :global(.ant-checkbox-wrapper) :global(.ant-checkbox) {
  margin-top: 2px;
}

.filterFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid var(--gray-4);
  padding: 8px 0 8px 0;
}

.tagContainer {
  height: 24px;
}
