.ferlabui-scroll-view {
    display: flex;
    overflow: auto;

    &.vertical {
        flex-direction: column;
        overflow-x: hidden;
    }

    &.horizontal {
        flex-direction: row;
        overflow-y: hidden;
    }
}