.ferlabui-stack-layout {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    &:not(&.flexContent) > * {
        flex-grow: 0;
        flex-shrink: 0;
    }

    &.vertical {
        flex-direction: column;
    }

    &.flexContent > * {
        flex-grow: 1;
        flex-shrink: 1;
    }

    &.center {
        align-items: center;
    }

    &:not(.fitContent) {
        overflow: hidden;
    }
}
