@import 'theme.template';
.container {
    margin: 0 .9rem;

    .button {
        padding: 0;
        display: flex;
        align-items: center;
        height: auto;
        border: none;

        @include hoverFocus($query-combiner-button-hover-color, $query-combiner-button-focus-color);
    }
}