@import 'theme.template';
.container {
    margin: 0 .9rem;

    .button {
        padding: 0;
        display: flex;
        align-items: center;
        height: auto;
    }
}

.menuItem {
    display: flex;
    align-items: center;

    .itemIcon {
        margin-right: .8rem;
    }
}