@import 'theme.template';

.icon, .text {
    color:$query-icon-operator-color;

    &:hover, &:active {
        color: $query-icon-operator-color-hover;
    }
}

.text {
    text-decoration: underline;
}