@import "theme.template";

.QBHeditModal {
  .editModalContent,
  .labelInput {
    width: 100%;

    .title {
      font-weight: $font-weight-semibold;
    }
  }
}

.QBHfilterEditFormItem {
  margin: 0;
}

.QBHCollapse {
  :global(.ant-collapse-header-text) {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

.QBHContainer {
  background-color: white;
  border-radius: 2px;
  width: 100%;
  padding-right: 24px;

  :global(.ant-space-item) {
    &:first-child {
      overflow: hidden;
    }
  }

  .togglerTitle {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .QBHActionContainer {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &.QBHOptionsActionsContainer {
      .iconBtnAction {
        &:focus,
        &:hover {
          background-color: transparent;
        }

        &:focus-visible {
          border: 1px solid !important;
        }

        &:not(:disabled) {
          color: $query-builder-header-tools-icon-color;

          @include hoverFocus(
            $query-builder-header-tools-icon-hover,
            $query-builder-header-tools-icon-focus
          );
        }
      }

      .QBHOptionsFavoriteStar {
        color: $query-builder-header-tools-favorite-icon-color;
      }
    }

    &.togglerClosed {
      border-bottom: 1px solid $query-builder-border-color;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}
