@import 'theme.template';

.container {
    border-radius: 2px;
    background: $query-values-bg;
    padding: 0 .8rem;
    height: 100%;

    .valueWrapper {
        align-items: center;

        .value {
            font-weight: 600;
            font-size: 1.2rem;
        }
    
        .operator {
            margin: 0 .4rem;
        }
    }

    .button {
        border: none;
        padding: 0;
        height: auto;
        margin-left: .5rem;
        display: flex;

        &.icon {
            align-items: center;
        }
        
        @include hoverFocus($query-values-button-hover-color, $query-values-button-focus-color);
    }
}