@import 'theme.template';

.container {
    background: $query-builder-bg;
    padding: 2.4rem 3.2rem;

    .queryBars {
        margin-bottom: 1.6rem;

        > *:not(:last-child) {
            margin-bottom: .8rem;
        }
    }

    .actions {

        .buttons {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-right: .8rem;
            }

            >:first-child {
                margin-right: .6rem;
            }
        }
    }
}