@import 'theme.template';

.container {
    background: $query-bar-bg;
    height: $query-bar-height;
    position: relative;

    > * {
        padding: $query-bar-padding;
        border: 1px solid $query-bar-border-color;
        align-items: center;

        &:not(:first-child) {
            border-left: none;
        }
    }

    &.selected {
        background: $query-bar-bg-active;
        > * {
            border-color: $query-bar-border-color-active;
        }

        .identifier {
            background: $query-bar-identifier-active;
        }
    
    }

    .identifier {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: $query-bar-identifier-width;
        background: $query-bar-identifier;
    }


    .selectionWrapper {
        padding-left: $query-bar-padding-left + $query-bar-identifier-width;
        .label {
            font-size: 1.2rem;
            padding-top: 1px;
            padding-left: 0.4em;
            font-weight: 600;
            box-shadow: none !important;
        }
    }

    .queryContent {
        justify-content: space-between;
        color: $query-total-color;

        .queryValues {
            flex-wrap: wrap;
            margin: -.6rem -.6rem -.6rem 0;

            > * {
                margin: .4rem 0;
            }
        }

        .total {
            font-weight: 600;
            display: flex;
            align-items: center;
            align-self: flex-start;
            margin-left: .6rem;
            height: 2.4rem;

            >  :first-child {
                margin-right: .5rem;
            }

            img,svg {
                vertical-align: middle;
            }
        }
    }

    .actions {
        >  * {
            border: none;
            height: auto;
            line-height: normal;
            padding: 0;
            display: flex;
            align-items: center;
            padding: .3rem;
            align-self: flex-start;

            &:first-child {
                margin-right: 1.6rem;
            }
        }
        @include hoverFocus($query-bar-button-hover-color, $query-bar-button-focus-color, '> *');
    }
}