@import 'theme.template';

.queryPillContainer {
    background: $query-pill-bg;
    padding: 2px 2px 2px 2px;
    border-radius: 2px;
    align-items: center;
    line-height: 20px;

    &.selected {
        background: $query-pill-bg-active;
    }

    .operator {
        margin-right: 4px;
        margin-left: 2px;
    }

    .field {
        font-weight: 600;
        font-size: 12px;
        margin-left: 4px;
        margin-right: 2px;
    }

    .close {
        border: none;
        padding: 3px 2px 3px 4px;
        height: auto;
        display: flex;
        align-items: center;
        color: $query-pill-button-default-color;

        &:hover {
            opacity: 0.7;
        }
        
        @include hoverFocus($query-pill-button-hover-color, $query-pill-button-focus-color, '&', none, none);
    }

    .queryValuesTrigger {
        text-decoration: none;
    }
}

.filtersDropdown {
    min-width: 200px !important;
    background: white;
    border-radius: 2px;
    padding: 8px 16px;
    border: 1px solid #eaeaec;
    max-width: 650px;

    section, > div {
        background-color: white;
    }
}

.filterLoader {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        display: flex;
    }
}