@import 'theme.template';

.container {
    background: $query-builder-bg;
    border: 1px solid $query-builder-border-color;
    border-radius: 2px;
    padding: $query-builder-padding;

    .queryBars {
        margin-bottom: 1.6rem;

        > *:not(:last-child) {
            margin-bottom: .8rem;
        }
    }

    .actions {
        align-items: center;

        .switch {
            &.withLabel {
                display: flex;
                align-items: center;

                .label {
                    margin-left: 0.5em;
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-right: .8rem;
            }

            >:first-child {
                margin-right: .6rem;
            }
        }
    }
}