@import 'theme.template';

.editModal {
  .editModalContent, .labelInput {
    width: 100%;

    .title {
      font-weight: 500;
    }
  }
}

.queryBuilderHeaderContainer {
    background-color: white;
    border-radius: 2px;

    .queryBuilderToggler {
      padding: 16px 24px;
      border: 1px solid $query-builder-border-color;
      border-bottom: none;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      justify-content: space-between;

      .queryBuilderTitleContainer {
        display: flex;
        align-items: center;

        .queryBuilderHeaderAction {
          display: flex;
          align-items: center;
           
          &:hover {
             cursor: pointer;
           }

          .togglerTitle {
            margin: 0;
            font-size: 16px;
            margin-right: 10px;
          }

          .togglerIcon {
            display: flex;
            margin-right: 10px;
          }

          &.editTitleAction {
            border: 1px solid transparent;
            color: $query-builder-header-tools-icon-color;

            &:focus {
              background-color: transparent;
            } 
        
            &:disabled {
              color: $query-builder-header-tools-icon-disabled;
            } 
        
            &:not(:disabled) {
              @include hoverFocus(
                $query-builder-header-tools-icon-hover, 
                $query-builder-header-tools-icon-focus, 
              );
            }
          }
        }        
      }
  
      &.togglerClosed {
        border-bottom: 1px solid $query-builder-border-color;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }