@import 'theme.template';

.container {
    background: $query-pill-bg;
    padding: .2rem .2rem .2rem .2rem;
    border-radius: 2px;
    align-items: center;
    line-height: 20px;

    &.selected {
        background: $query-pill-bg-active;
    }

    .operator {
        margin-right: .4rem;
        margin-left: .2rem;
    }

    .field {
        font-weight: 600;
        font-size: 1.2rem;
        margin-left: .4rem;
        margin-right: .2rem;
    }

    .close {
        border: none;
        padding: .3rem .2rem .3rem .4rem;
        height: auto;
        display: flex;
        align-items: center;
        
        @include hoverFocus($query-pill-button-hover-color, $query-pill-button-focus-color);
    }
}