@import 'theme.template';

.queryTools {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leftTools, .rightTools {
        display: flex;

        >*:not(:first-child) {
            margin-left: 15px;
        }
        
        .switch {
            &.withLabel {
                display: flex;
                align-items: center;

                .label {
                    margin-left: 5px;
                }
            }
        }

        .button {
            display: flex;
            align-items: center;

            >*:not(:only-child) {
                &:first-child {
                  margin-right: 2.5px;
                }
              }

            &:first-child {
                margin-left: 0;
            }

            &:last-child:not(:first-child) {
                margin-left: 10px;
            }
        }   
    }
}