@import 'theme.template';

.container {
    background: $query-builder-bg;
    border: 1px solid $query-builder-border-color;
    border-radius: 2px;
    padding: $query-builder-padding;

    .queryBars {
        margin-bottom: 1.6rem;

        > *:not(:last-child) {
            margin-bottom: .8rem;
        }
    }

    .actions {
        align-items: center;

        >*:not(:first-child) {
            margin-left: 1.5em;
        }

        .switch {
            &.withLabel {
                display: flex;
                align-items: center;

                .label {
                    margin-left: 0.5em;
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;

            &:last-child {
                margin-left: 1em;
            }
        }
    }
}