@import 'theme.template';

.container {
    background: $query-bar-bg;
    height: $query-bar-height;

    > * {
        padding: $query-bar-padding;
        border: 1px solid $query-bar-border-color;
        align-items: center;

        &:not(:first-child) {
            border-left: none;
        }
    }

    &.selected {
        background: $query-bar-bg-active;
        > * {
            border-color: $query-bar-border-color-active;
        }

        .identifier {
            background: $query-bar-identifier-active;
        }
    
    }

    .identifier {
        border: none;
        padding: 0;
        width: $query-bar-identifier-width;
        background: $query-bar-identifier;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }


    .selectionWrapper {
        padding-left: $query-bar-padding-left + $query-bar-identifier-width;

        .label {
            font-size: 1.2rem;
            padding-top: 1px;
            padding-left: 0.4rem;
            font-weight: 600;
        }
    }

    .queryContent {
        justify-content: space-between;
        color: $query-total-color;

        .queryValues {
            flex-wrap: wrap;
            margin: -.6rem -.6rem -.6rem 0;

            > * {
                margin: .4rem 0;
            }
        }

        .total {
            font-weight: 600;
            display: flex;
            align-items: center;
            margin-left: .6rem;
            height: 2.4rem;

            >  :first-child {
                margin-right: .5rem;
            }

            img,svg {
                vertical-align: middle;
            }
        }
    }

    .actions {
        >  * {
            border: none;
            height: auto;
            line-height: normal;
            padding: 0;
            display: flex;
            align-items: center;
            padding: .3rem;

            &:first-child {
                margin-right: 1.6rem;
            }
        }
        @include hoverFocus($query-bar-button-hover-color, $query-bar-button-focus-color, '> *');
    }
}