@import "theme.template";

.QBHeditModal {
  .editModalContent,
  .labelInput {
    width: 100%;

    .title {
      font-weight: $font-weight-semibold;
    }
  }
}

.QBHfilterEditFormItem {
  margin: 0;

  div[class$="-explain-connected"] {
    display: none;
  }
}

.QBHContainer {
  background-color: white;
  border-radius: 2px;
  width: 100%;

  .QBToggler {
    width: 100%;
    padding: 16px 24px;
    border: 1px solid $query-builder-border-color;
    border-bottom: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    justify-content: space-between;

    .QBTitleContainer {
      display: flex;
      align-items: center;

      .QBHActionContainer {
        display: flex;
        height: auto;
        line-height: normal;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        .togglerTitle {
          margin: 0;
          font-size: 16px;
        }

        .togglerIcon {
          display: flex;
          margin-right: 10px;
        }

        &.QBHOptionsActionsContainer {
          .iconBtnAction {
            display: flex;
            align-items: center;
            border: 1px solid transparent;
            padding: 0;
            max-height: 18px;

            &:not(:first-child) {
              margin-left: 12px;
            }

            &:focus,
            &:hover {
              background-color: transparent;
            }

            &:focus-visible {
              border: 1px solid !important;
            }

            &:not(:disabled) {
              color: $query-builder-header-tools-icon-color;

              @include hoverFocus(
                $query-builder-header-tools-icon-hover,
                $query-builder-header-tools-icon-focus
              );
            }
          }

          .QBHOptionsFavoriteStar {
            color: $query-builder-header-tools-favorite-icon-color;
          }
        }
      }
    }

    &.togglerClosed {
      border-bottom: 1px solid $query-builder-border-color;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}
