@import 'theme.template';

.queryBuilderContainer {
    background: $query-builder-bg;
    border: 1px solid $query-builder-border-color;
    border-top: 1px solid $query-builder-header-border-divider-color;
    border-radius: 2px;
    padding: $query-builder-padding;

    &.hasHeader {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .queryBars {
        flex-direction: column;
        > *:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}