@import "theme.template";

.queryBuilderHeaderTools {
  .toolsContainer {
    .queryBuilderHeaderActionIconBtn {
      &:focus,
      &:hover {
        background-color: transparent;
      }

      &:focus-visible {
        border: 1px solid !important;
      }

      &:not(:disabled) {
        color: $query-builder-header-tools-icon-color;

        &.dirty {
          color: $query-builder-header-tools-icon-color-dirty;

          &:not(span) {
            @include hoverFocus(
              $query-builder-header-tools-icon-color-dirty,
              $query-builder-header-tools-icon-color-dirty
            );
          }
        }

        &:not(span) {
          @include hoverFocus(
            $query-builder-header-tools-icon-hover,
            $query-builder-header-tools-icon-focus
          );
        }
      }
    }
  }

  .extra {
    display: flex;
    text-decoration: none;

    .queryBuilderHeaderDdb {
      .bContent {
        .arrow {
          font-size: 12px;
          margin-left: 5px;
        }
      }
    }
  }
}

.display-flex {
  display: flex;
  align-items: center;
}

.fuiQBHTSavedFiltersMenu {
  :global(.ant-dropdown-menu-title-content) {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}