@import 'theme.template';

.queryValuesContainer {
    border-radius: 2px;
    background: $query-values-bg;
    padding: 0 8px;
    height: 100%;
    flex-wrap: wrap;
    position: relative;

    &.hasMore {
        padding-right: 22px;
    }

    .queryValueSelector {
        display: flex;
        color: unset;
        text-decoration: none;
        flex-wrap: wrap;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid $query-default-action-default-color;
        }
    }
    
    &.clickable {
        &:hover {
            cursor: pointer;
        }
    }

    .valueWrapper {
        align-items: center;
        flex-shrink: unset;

        .value {
            font-weight: 600;
            font-size: 12px;
        }
    
        .operator {
            margin: 0 4px;
        }
    }

    .button {
        border: none;
        padding: 0;
        height: auto;
        margin-left: 5px;
        display: flex;
        color: $query-values-button-default-color;
        position: absolute;
        right: 5px;
        top: calc(50% - 7px);

        &:hover {
            opacity: 0.7;
        }

        &.icon {
            align-items: center;
        }
        
        @include hoverFocus($query-values-button-hover-color, $query-values-button-focus-color, '&', 'none', 'none');
    }
}