@import "theme.template";

.light {
  color: $blue-3;

  .icon {
    color: $blue-3;
  }

  .iconSpot {
    color: $blue-8;
  }
}

.dark {
  color: $gray-8;

  .icon {
    color: $gray-8;
  }

  .iconSpot {
    color: $blue-3;
  }
}

.small {
  .layout {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon {
      width: 48px;
      height: 48px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    .subTitle {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.medium {
  .layout {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon {
      width: 64px;
      height: 64px;
    }

    .title {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }

    .subTitle {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.large {
  .layout {
    display: flex;
    align-items: center;
    gap: 24px;

    .icon {
      width: 96px;
      height: 96px;
    }

    .title {
      font-size: 38px;
      font-weight: 600;
      line-height: 46px;
    }

    .subTitle {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }
  }
}


@media (max-width: 1024px) {
  .large {
    .layout {
      gap: 16px;

      .icon {
        width: 64px;
        height: 64px;
      }

      .title {
        font-size: 24px;
        line-height: 32px;
      }

      .subTitle {
        font-size: 16px;
        line-height: 24px;;
      }
    }
  }
}

