.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 40px;
}

.text {
  color: var(--landing-text-color);
  font-size: 16px;
  line-height: 24px;
}

.buttonContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}
