@import 'theme.template';

.statisticWrapper {
    display: flex;
    align-items: center;
    justify-content: center;;
    gap: 16px;

    .stats {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-bottom: 6px;
    }

    .count {
        font-weight: 600 !important;
        font-size: 16px;
        line-height: 24px;
        color: $gray-8;
        text-align: left;
    }

    .label {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $gray-8;
        text-align: left;
    }

    .icon {
        color: $gray-8;
    }

    &.disabled {
        .count, .label, .icon {
            color: inherit;
        }
    }
}
