@import "theme.template";

$padding-top-card: 16px;
$padding-side-and-bottom: 24px;

.fuiCardWrapper {
  .fbUIGridCard {
    padding: $padding-top-card $padding-side-and-bottom;
    height: 100%;
    display: flex;
    flex-direction: column;

    &.light {
      background-color: $grid-card-light-background-color;
    }

    &.shade {
      background-color: $grid-card-shade-background-color;
    }

    .contentWrapper {
      height: 100%;
    }

    div[class$="-head"] {
      min-height: unset;
      padding: 0;

      div[class$="-head-title"],
      div[class$="-extra"] {
        padding: 0;
        padding-bottom: 12px;
      }
    }

    &.withHeaderOnly {
      padding-bottom: 24px;
      div[class$="-body"] {
        padding-bottom: 0;
        flex: auto;
      }
    }

    &.withFooterOnly {
      padding-top: 24px;
      div[class$="-body"] {
        padding-top: 0;
        flex: auto;
      }
    }

    &.contentOnly {
      div[class$="-body"] {
        padding: 0;
        flex: auto;
      }
    }

    div[class$="-body"] {
      padding-left: 0;
      padding-right: 0;
      padding: 24px 0;
    }

    &:not(.withFooterOnly):not(.withHeaderOnly) {
      justify-content: space-between;
      div[class$="-body"] {
        flex: auto;
      }
    }

    ul[class$="-actions"] {
      background-color: transparent;
      > li {
        color: unset;
        float: unset;
        text-align: unset;
        margin: 0;
        padding-top: 16px;

        *:hover {
          color: unset;
          cursor: unset;
        }
      }
    }
  }
}
