@import "theme.template";

.assignmentsTag{
    background-color: $gray-3;
    border-radius: 100px;
    margin: 0;
    padding: 0 8px 0 0;
    
}

.noBackground{
    background-color: inherit;
}

.unAssignAvatar {
    background-color: $gray-2;
    border: 1px dashed $gray-6;
    color: $gray-6;
    &:hover {
      &:not(.disabledAssignmentsPopOver) {
        border: 1px dashed $gray-8;
        color: $gray-8;
      }
    }
  }