@import '../mixins';
@import '../variables';

.header {
    width: 100%;
    padding: 1.6rem;
    background-color: $white;
    box-shadow: $default-box-shadow;
    display: inline-grid;
    grid-template-columns: [logo] auto [nav] 2fr [actions] 4fr [language] auto;
    grid-gap: 0 4.2rem;
    align-items: center;
    min-height: 7.2rem;
    letter-spacing: .16px;
  
    &__logo {
        margin-left: 2.2rem;
        margin-right: 4rem;
    }
  
    &__nav {
        display: flex;

        .menu-item{
            display: flex;
            align-items: center;
            padding: 0.8rem;
            margin: 0;
            background: $gray-2;
            &-icon {
                margin-right: .8rem;
            }

            &:hover{
                color: $gray-8;
                background-color: $white;
                border-color: $gray-4;
            }
            &:focus{
                color: $gray-8;
                background-color: $white;
                border-color: $gray-8;
            }
            &:active, &.--active{
                color: $blue-7;
                border-color: $blue-7;
            }    
        

        }

        a:not(:last-child){
            margin-right: 1rem;
        }

    }
  
    &__actions {
        display: flex;
        justify-self: flex-end;
        align-items: center;
        margin-right: -3.2rem;

        .separator {
            margin: 0 1.6rem 0 .8rem;
            border-left: 1px solid $gold-6;
            height: 1.9em;
        }

        .login, .logout {
            display: flex;
            align-items: center;

            .icon {
                margin-right: .5rem;
            }
        }

        .link {
            font-size: 1.2rem;
            padding: 0;
            margin-right: 1rem;
            color: $gray-7;
            &--icon {
                margin-left: .5rem;
            }

            &:not([disable]):hover {
                text-decoration: underline;
                color: $gray-7;
            }
        }
    }
}