.radioGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.radioGroup :global(.ant-radio-wrapper):last-child {
  margin-bottom: 0;
}
.radioGroup > * {
  margin-bottom: 0.8rem;
  width: 100%;
}
.radioGroup > label {
  display: flex;
}
.radioGroup > label > span:last-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 0px;
}

.clearButton {
  padding: 0 7px;
  height: auto;
  color: var(--toggle-filter-sc-button-color);
}

.actions {
  border-top: 1px solid var(--filter-actions-border-color);
  display: flex;
  justify-content: flex-end;
  margin-top: 17px;
  padding-top: 13px;
}

.noResultsText {
  background: var(--filter-no-results-text-background-color);
  color: var(--filter-no-results-text-color);
  font-size: 14px;
  line-height: 22px;
  padding: 8px 16px;
  width: 100%;
}
