@import 'theme.template';

.addGene {
    .addGeneButton {
        padding: 0 4px;
        border-radius: 2px;
        color: $blue-8;

        &:hover {
            cursor: pointer;
            background-color: $gray-4;
        }
    }
}
