.authenticatedHeader {
  margin-bottom: 12px;
}
.authenticatedHeader .disconnectBtn {
  padding: 0;
  font-size: 12px;
}
.authenticatedHeader .notice {
  font-size: 12px;
  line-height: 10px;
}

.content {
  border: 1px solid var(--gray-4);
  background: var(--gray-1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.connected {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list {
  overflow: auto;
  min-height: 200px;
  height: 100%;
}

.cardHeader {
  width: 100%;
}
.cardHeader .titleContainer {
  min-width: 200px;
}
.cardHeader .dragHandle {
  font-size: 16px;
  color: var(--gray-7);
  outline: none;
}
.cardHeader .infoIcon {
  color: var(--body-2);
  font-size: 18px;
}
.cardHeader .infoPopoverOverlay {
  max-width: 350px;
}

.infoPopover {
  margin-left: 5px;
}
.infoPopover .infoPopoverContent {
  border: none;
  background: var(--gray-1);
}

.popoverExternalLink {
  margin-left: 4px !important;
}
