@import "theme.template";

.authenticatedHeader {
  margin-bottom: $authorized-studies-widget-authenticated-header-margin-bottom;
  height: $authorized-studies-widget-authenticated-header-height;

  .disconnectBtn {
    padding: 0;
    font-size: 12px;
  }

  .notice {
    font-size: 12px;
    line-height: 10px;
  }
}

.content {
  border: 1px solid $gray-4;
  background: $gray-1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.connected {
  height: calc(100% - ($authorized-studies-widget-authenticated-header-height + $authorized-studies-widget-authenticated-header-margin-bottom));
}

.list {
  overflow: auto;
  min-height: 200px;
  height: 100%;
}

.cardHeader {
  width: 100%;

  .titleContainer {
    min-width: 200px;
  }

  .dragHandle {
    font-size: 16px;
    color: $gray-7;
    outline: none;
  }

  .infoIcon {
    color: $body-2;
    font-size: 18px;
  }

  .infoPopoverOverlay {
    max-width: 350px;
  }
}

.infoPopover {
  margin-left: 5px;

  .infoPopoverContent {
    border: none;
    background: $gray-1;
  }
}

.popoverExternalLink {
  margin-left: 4px !important;
}
