.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container * {
  min-height: 0;
  min-width: 0;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
  }
}
