.ProTablePopoverColumnHeaderDivider {
  margin-bottom: 8px;
  margin-top: 8px;
}

.ProTablePopoverColumn div[class$=-inner-content] {
  padding: 12px;
}

.ProTablePopoverColumnResetBtnWrapper {
  text-align: right;
}

.ProTablePopoverColumnResetBtn {
  padding: 0;
}

.ProTablePopoverColumnListWrapper {
  max-height: 315px;
  overflow: auto;
  scrollbar-gutter: stable;
}
