.queryTools {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.queryTools .leftTools, .queryTools .rightTools {
  display: flex;
}
.queryTools .leftTools .switch.withLabel, .queryTools .rightTools .switch.withLabel {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.queryTools .leftTools .switch.withLabel .label, .queryTools .rightTools .switch.withLabel .label {
  margin-left: 5px;
}
.queryTools .leftTools .button, .queryTools .rightTools .button {
  display: flex;
  align-items: center;
}
.queryTools .leftTools .button:first-child, .queryTools .rightTools .button:first-child {
  margin-left: 0;
}
.queryTools .leftTools .button:last-child:not(:first-child), .queryTools .rightTools .button:last-child:not(:first-child) {
  margin-left: 10px;
}
.compare {
  color: var(--gray-8);
  display: flex !important;
  align-items: center !important;
}

.compare :global(.ant-btn[disabled]) {
  display: flex;
  align-items: center;
}

.andOrIcon.disabled {
  fill: var(--text-disabled);
}