@import 'theme.template';

$input-prefix: 'ant-input';
$input-wrapper-prefix: $input-prefix + '-affix-wrapper';
$menu-prefix: 'ant-menu';
$menu-inline-prefix: 'ant-menu-inline';
$menu-item-prefix: $menu-prefix + '-item';

.siderContainer {
  display: flex;
  flex-direction: row;

  .sider {
    z-index: 1;
    width: $sidebar-menu-width;
    min-width: $sidebar-menu-width;
    background-color: $sidebar-menu-background-color;
    transition: width 0.1s;

    :global(.#{$menu-inline-prefix}-collapsed) {
        width: $sidebar-menu-collapsed-width;
        min-width: $sidebar-menu-collapsed-width;

        .sidebarMenuItem {
          padding: 0 !important;
          width: 100%;
        }
    }

    :global(.#{$menu-item-prefix}-icon) {
        min-height: $sidebar-menu-item-icon-size;
        max-height: $sidebar-menu-item-icon-size;
        min-width: $sidebar-menu-item-icon-size;
        max-width: $sidebar-menu-item-icon-size;
        font-size: $sidebar-menu-item-icon-size;
        line-height: $sidebar-menu-item-icon-size;
        margin: 0;
    }

    &[data-collapsed='true'] {
      width: $sidebar-menu-collapsed-width;
      min-width: $sidebar-menu-collapsed-width;

      .sidebarToggleIconContainer {
        &, > div {
          text-align: center;
          align-items: center;
        }
      }

      .sidebarMenu {
        .searchMenuItem {
          padding: 0 1rem;
          margin-bottom: 1rem;
        }

        .sidebarMenuItem {
            justify-content: center;

            > :not(img, span[role='img'], svg) {
                display: none;
            }

          img, span[role='img'], svg {
            margin-right: 0;
          }
        }
      }
    }

    .sidebarToggleIconContainer {
      margin: 1rem 1.4rem 1rem 1.4rem;
      &, > div {
        display: flex;
      }

      .sidebarToggleIcon {
        &:hover {
          cursor: pointer;
        }

        * {
          min-height: $sidebar-menu-toggle-icon-size;
          max-height: $sidebar-menu-toggle-icon-size;
          min-width: $sidebar-menu-toggle-icon-size;
          max-width: $sidebar-menu-toggle-icon-size;
          font-size: $sidebar-menu-toggle-icon-size;
          line-height: $sidebar-menu-toggle-icon-size;
          color: white;
        }
      }
    }

    .sidebarMenu {
      transition: background 0s;
      background-color: transparent;
      border: none;
      color: $sidebar-menu-item-text-color;
      font-weight: 600;
      font-size: 14px;

      .searchMenuItem {
        margin: 0 0.5rem;
        height: $sidebar-menu-item-height;
        padding: 2px;
        border-radius: 4px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        *,
        ::placeholder {
          color: $sidebar-quick-filter-input-placeholder-color;
        }
        .searchInput {
          :global(.#{$input-prefix}) {
            color: $sidebar-quick-filter-input-text-color;
          }

          :global(.#{$input-prefix}-prefix) {
            max-width: 16px;
            font-size: 16px;
          }

          &:hover {
            box-shadow: $sidebar-quick-filter-input-box-shadow-hover;
            border-color: transparent;
          }

          &:global(.#{$input-wrapper-prefix}-focused) {
              box-shadow: $sidebar-quick-filter-input-box-shadow-focus;
              border-color: transparent;
          }
        }
      }

      .sidebarMenuItem {
        margin: 0;
        height: $sidebar-menu-item-height;
        line-height: $sidebar-menu-item-height;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 1.3rem !important;

        .sidebarMenuItemTitle {
            margin-left: 15px;
        }

        &:hover {
          color: $sidebar-menu-item-hover-color;
          opacity: $sidebar-menu-item-hover-opacity;
        }

        &::after {
          border-right: none;
        }

        &:active {
          opacity: 1 !important;
          color: $sidebar-menu-item-active-color;
          background-color: $sidebar-menu-item-active-background-color;
        }
      }

      :global(.#{$menu-item-prefix}-selected) {
        opacity: 1 !important;
        color: $sidebar-menu-item-active-color;
        background-color: $sidebar-menu-item-active-background-color;
      }
    }
  }
}
