@import 'colors';

// QueryBuilder
$query-builder-bg: $white;

$query-bar-bg: #F1F4F8;
$query-bar-bg-active: #FFEFC1;
$query-bar-border-color: #BCC9DC;
$query-bar-border-color-active: #FFDC73;

$query-bar-identifier: #BCC9DC;
$query-bar-identifier-active: #F5B800; 

$query-pill-bg: #DDE4EE;
$query-pill-bg-active: #FFC926;

$query-values-bg: $white;

$query-icon-operator-color: #5A77A0;
$query-icon-operator-color-hover: #26436E; 
$query-icon-label-operator-color: #26436E;


// CountWithIcon
$count-with-icon-inline-label-size: 1.4rem; 
$count-with-icon-inline-label-weight: 600; 
$count-with-icon-inline-total-size: 1.4rem; 
$count-with-icon-inline-total-weight: 600; 

$count-with-icon-stack-label-size: inherit; 
$count-with-icon-stack-label-weight: normal; 
$count-with-icon-stack-total-size: 1.6rem; 
$count-with-icon-stack-total-weight: 600; 


// Filters
$toggle-filter-sc-button-color: #008FC7;
$range-filter-grouped-inputs-spacer-color: #B5C6D8;
$range-filter-grouped-inputs-color-color: #d9d9d9;
$range-filter-actions-border-color: #d9d9d9;
$range-filter-actions-border-apply-background-color: #008FC7;
$range-filter-actions-border-apply-border-color: #008FC7;
$range-filter-actions-border-disabled-border-color: #B5C6D8;
$range-filter-actions-border-disabled-background-color: #F0F3F8;
$range-filter-actions-border-disabled-color: #90A9C1;
$checkbox-filter-types-mc-footer: #008FC7;
$checkbox-filter-links-hover: #0075A2;
$checkbox-filter-actions-separator-background: #90A9C1;
$checkbox-filter-actions-separator-links: #008FC7;
$checkbox-filter-no-results-text-background-color: #F0F3F8;
$checkbox-filter-no-results-text-color: #18486B;
