@import 'colors';

// QueryBuilder
$query-builder-bg: $white;
$query-builder-border-color: #D8E1EB;
$query-builder-padding: 1.6rem 2.4rem;

$query-bar-bg: #F1F4F8;
$query-bar-bg-active: #FFEFC1;
$query-bar-border-color: #BCC9DC;
$query-bar-border-color-active: #FFDC73;
$query-bar-height: 100%;
$query-bar-padding: .8rem 1.2rem;

$query-bar-identifier: #BCC9DC;
$query-bar-identifier-active: #F5B800; 

$query-pill-bg: #DDE4EE;
$query-pill-bg-active: #FFC926;

$query-values-bg: $white;

$query-icon-operator-color: #5A77A0;
$query-icon-operator-color-hover: #26436E; 
$query-icon-label-operator-color: #26436E;
$query-total-color: inherit;

// CountWithIcon
$multi-label-inline-label-size: 1.4rem; 
$multi-label-inline-label-weight: 600; 
$multi-label-inline-sub-label-size: 1.4rem; 
$multi-label-inline-sub-label-weight: 600; 
$multi-label-inline-icon-space: .6rem;
$multi-label-inline-label-space: .5rem;

$multi-label-stack-label-size: 1.6rem; 
$multi-label-stack-label-weight: 600; 
$multi-label-stack-sub-label-size: inherit; 
$multi-label-stack-sub-label-weight: normal; 
$multi-label-stack-icon-space: 1.6rem;

$multi-label-stack-top-icon-space: 1rem;

// Filters
$toggle-filter-sc-button-color: #008FC7;
$range-filter-grouped-inputs-spacer-color: #B5C6D8;
$range-filter-grouped-inputs-color-color: #d9d9d9;
$range-filter-actions-border-color: #d9d9d9;
$range-filter-actions-border-apply-background-color: #008FC7;
$range-filter-actions-border-apply-border-color: #008FC7;
$range-filter-actions-border-disabled-border-color: #B5C6D8;
$range-filter-actions-border-disabled-background-color: #F0F3F8;
$range-filter-actions-border-disabled-color: #90A9C1;
$checkbox-filter-item-font-size: inherit;
$checkbox-filter-item-line-height: inherit;
$checkbox-filter-types-mc-footer: #008FC7;
$checkbox-filter-links-hover: #0075A2;
$checkbox-filter-link-font-size: inherit;
$checkbox-filter-link-line-height: inherit;
$checkbox-filter-actions-separator-background: #90A9C1;
$checkbox-filter-actions-separator-links: #008FC7;
$checkbox-filter-no-results-text-background-color: #F0F3F8;
$checkbox-filter-no-results-text-color: #18486B;
