@import 'colors';
@import 'mixins';

// QueryBuilder
$query-default-action-hover-color: #057DB5;
$query-default-action-focus-color: #26436E;

$query-builder-bg: $white;
$query-builder-border-color: #D8E1EB;
$query-builder-padding: 2.4rem 2.4rem;

$query-bar-bg: #F1F4F8;
$query-bar-bg-active: #FFEFC1;
$query-bar-border-color: #BCC9DC;
$query-bar-border-color-active: #FFDC73;
$query-bar-height: 100%;
$query-bar-padding-top: 0.8rem;
$query-bar-padding-bottom: 0.8rem;
$query-bar-padding-right: 1.2rem;
$query-bar-padding-left: 1.2rem;
$query-bar-padding: $query-bar-padding-top $query-bar-padding-right $query-bar-padding-bottom $query-bar-padding-left;

$query-bar-identifier: #BCC9DC;
$query-bar-identifier-width: 0.4rem;
$query-bar-identifier-active: #F5B800; 

$query-bar-button-hover-color: $query-default-action-hover-color;
$query-bar-button-focus-color: $query-default-action-focus-color;

$query-pill-bg: #DDE4EE;
$query-pill-bg-active: #FFC926;
$query-pill-button-hover-color: $query-default-action-hover-color;
$query-pill-button-focus-color: $query-default-action-focus-color;

$query-values-bg: $white;
$query-values-button-hover-color: $query-default-action-hover-color;
$query-values-button-focus-color: $query-default-action-focus-color;

$query-combiner-button-hover-color: $query-default-action-hover-color;
$query-combiner-button-focus-color: $query-default-action-focus-color;


$query-icon-operator-color: #5A77A0;
$query-text-operator-color-hover: #26436E; 
$query-icon-operator-color-hover: #26436E; 
$query-icon-label-operator-color: #26436E;
$query-total-color: inherit;

// CountWithIcon
$multi-label-inline-label-size: 1.4rem; 
$multi-label-inline-label-weight: 600; 
$multi-label-inline-sub-label-size: 1.4rem; 
$multi-label-inline-sub-label-weight: 600; 
$multi-label-inline-icon-space: .6rem;
$multi-label-inline-label-space: .5rem;

$multi-label-stack-label-size: 1.6rem; 
$multi-label-stack-label-weight: 600; 
$multi-label-stack-sub-label-size: inherit; 
$multi-label-stack-sub-label-weight: normal; 
$multi-label-stack-icon-space: 1.6rem;

$multi-label-stack-top-icon-space: 1rem;

// Filters
$toggle-filter-sc-button-color: #008FC7;
$range-filter-grouped-inputs-spacer-color: #B5C6D8;
$range-filter-grouped-inputs-color-color: #d9d9d9;
$checkbox-filter-item-font-size: inherit;
$checkbox-filter-item-line-height: inherit;
$checkbox-filter-types-mc-footer: #008FC7;
$checkbox-filter-links-hover: #0075A2;
$checkbox-filter-link-font-size: inherit;
$checkbox-filter-link-line-height: inherit;
$checkbox-filter-actions-separator-background: #90A9C1;
$checkbox-filter-actions-separator-links: #008FC7;
$checkbox-filter-no-results-text-background-color: #F0F3F8;
$checkbox-filter-no-results-text-color: #18486B;

$filter-input-label-color: #000;
$filter-actions-border-color: #d9d9d9;
$filter-actions-border-apply-background-color: #008FC7;
$filter-actions-border-apply-border-color: #008FC7;
$filter-actions-disabled-border-color: #D7D8DB;
$filter-actions-disabled-background-color: #F3F4F6;
$filter-actions-disabled-color: #8A8DA8;
$filter-input-error-border-color: #DD1F2A;

// SidebarMenu
$sidebar-menu-width: 220px;
$sidebar-menu-collapsed-width: 50px;
$sidebar-menu-background-color: #007694;
$sidebar-menu-toggle-icon-size: 21px;

$sidebar-menu-item-icon-size: 24px;
$sidebar-menu-item-height: 50px;
$sidebar-menu-item-text-color: #fff;
$sidebar-menu-item-active-background-color: #00546e;
$sidebar-menu-item-active-color: #fff;
$sidebar-menu-item-hover-color: #fff;
$sidebar-menu-item-hover-opacity: 0.8;
$sidebar-menu-item-border-focus: 2px solid #003447;

$sidebar-quick-filter-input-box-shadow-hover: 0 0 0 2px #00546e;
$sidebar-quick-filter-input-box-shadow-focus: 0 0 0 2px #007694, 0 0 0 3px white;
$sidebar-quick-filter-input-placeholder-color: #8a8da8;
$sidebar-quick-filter-input-text-color: #383f72;

$sidebar-content-panel-padding: 16px;
$sidebar-content-panel-width: 320px;
$sidebar-content-panel-close-icon-color: #007694;
$sidebar-content-panel-right-border: 1px solid #d7d8db;
$sidebar-content-panel-background-color: transparent;
$sidebar-content-panel-close-icon-width: 16px;
