@import 'colors';

.ant-space-compact-block {
  display: inline-flex;
  width: unset;
  max-width: 100%
}

.ant-modal-confirm {
    .ant-modal-confirm-body > .anticon {
        color: $orange-7;
    }

    &.ant-modal-confirm-warning .ant-modal-confirm-body > .anticon {
        color: $orange-7;
    }

    &.ant-modal-confirm-error .ant-modal-confirm-body > .anticon {
        color: $red-7;
    }
}
