$white: #fff;

$body-1: #383f72;
$body-2: #6e7190;
$body-3: #8a8da8;

$blue-base: #00aceb;
$blue-1: #eaf3fa;
$blue-2: #d6f1fb;
$blue-3: #cfe6f2;
$blue-4: #8bd7f4;
$blue-5: #53bee9;
$blue-6: #23a4d7;
$blue-7: #008fc7;
$blue-8: #006aa3;
$blue-9: #0a5085;
$blue-10: #063c65;

$geekblue-2: #d6e4ff;
$geekblue-9: #10239e;

$gray-1: #ffffff;
$gray-2: #f8fafc;
$gray-3: #f1f5f9;
$gray-4: #e1e8ef;
$gray-5: #b3c2d3;
$gray-6: #8b9db2;
$gray-7: #63768f;
$gray-8: #364a63;
$gray-9: #233750;
$gray-10: #0f1824;

$red-0: #fef4f4;
$red-2: #ffccc7;
$red-5: #ff4d4f;
$red-6: #f5222d;
$red-8: #a8071a;
$red-9: #820014;

$gold-2: #fff1b8;
$gold-9: #613400;

$lime-2: #f4ffb8;
$lime-9: #254000;

$volcano-2: #ffd8bf;
$volcano-9: #871400;

$purple-2: #efdbff;
$purple-7: #531DAB;
$purple-9: #531dab;

$green-2: #d9f7be;
$green-6: #52c41a;
$green-7: #389e0d;
$green-8: #237804;

$green-9: #135200;

$cyan-2: #b5f5ec;
$cyan-7: #08979c;
$cyan-9: #00474f;

$orange-2: #ffe7ba;
$orange-5: #f79122;
$orange-7: #d46b08;
$orange-8: #ad4e00;
$orange-9: #612500;

$magenta-1: #fff0f6;
$magenta-2: #ffd6e7;
$magenta-6: #eb2f96;
$magenta-7: #c41d7f;
$magenta-9: #6b0547;

$border: #abbed3;
$layoutBG: #edf0f3;

$primary-color: $blue-base;
$card-background: $gray-1;

// Colors
$preset-colors: pink, magenta, red, volcano, orange, yellow, gold, cyan, lime,
  green, blue, geekblue, purple;

$primary-color: $blue-8;
$info-color: $blue-6;
$success-color: $green-6;
$processing-color: $blue-6;
$error-color: $red-8;
$highlight-color: $magenta-6;
$normal-color: $gray-5;
$border-color-split: $gray-4;

$grid-layout-resize-color: $gray-7;