.core-layout-grid--content {
    border-radius: 0 0 2px 2px;
    border: 1px solid #f0f0f0;
    border-top: none;
    padding: 16px 20px 30px 20px;
    display: grid;
}

.core-layout-grid--content-summary {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-flow: row;
}

.grid-container-item {
    grid-column: var(--colStart, 1) / var(--colEnd, 2);
    grid-row: var(--rowStart, 1) / var(--rowEnd, 2);
}

.item-span-2-start {
    --colStart: 1;
    --colEnd: 3;
}

.item-span-2-end {
    --colStart: 2;
    --colEnd: 4;
}

.item-row-1 {
    --rowStart: 1;
    --rowEnd: 2;
}

.item-row-2 {
    --rowStart: 2;
    --rowEnd: 3;
}

@media (max-width: 770px) {
    .core-layout-grid--content-summary {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-row-1 {
        --rowStart: 1;
    }

    .item-span-2-start,
    .item-span-2-end {
        --colStart: 1;
        --colEnd: 2;
    }
}
@media (min-width: 770px) and (max-width: 1200px) {
    .core-layout-grid--content-summary {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-span-2-start,
    .item-span-2-end {
        --colStart: 1;
        --colEnd: 3;
    }
}

.ant-card.core-grid-card {
    display: flex;
    flex-direction: column;
    height: 450px;
    min-height: 325px;
}

.ant-card.core-grid-card .ant-card-body {
    display: flex;
    height: 100%;
    padding: 0 0;
    flex-grow: 1;
    margin: 0 20px 40px;
    position: relative;
}

.core-grid-card-content-container {
    flex-grow: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-top: thin solid #f0f0f0;
}

.core-grid-card .ant-card-loading-content {
    display: flex;
    flex-grow: 1;
}

.core-grid-card .ant-card-head {
    min-height: auto;
    border-bottom: none;
    margin: 10px 22px;
    padding: 0;
}
