@mixin hoverFocus($hoverColor, $focusColor, $selector: '&', $focusBorder: 1px solid transparent, $hoverBorder: 1px solid transparent) {
    #{$selector}:hover {
        border: $hoverBorder;
        background: transparent;
        color: $hoverColor;
    }
    #{$selector}:focus {
        border: $focusBorder;
        background: transparent;
        color: $focusColor;
    }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}