@import './antd.css';
@import './colors.css';
@import './grid.css';
@import '../override/font.css';

:root {
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --default-page-content-padding: 24px;
  --main-header-height: 64px;
  --heading-color: var(--gray-9);
  --query-default-action-default-color: rgb(90, 70, 70);
  --query-default-action-hover-color:var(--blue-7);
  --query-default-action-focus-color:var(--gray-8);
  --query-builder-bg: var(--white);
  --query-builder-border-color: #d8e1eb;
  --query-builder-header-border-divider-color: #d8e1eb;
  --query-builder-collapse-content-box-padding: 12px 8px;
  --query-builder-content-padding: 24px;
  --query-builder-header-tools-icon-color-dirty: #d16f13;
  --query-builder-header-tools-icon-hover: var(--query-builder-header-tools-icon-color-dirty);
  --query-builder-header-tools-icon-border: var(--query-builder-header-tools-icon-color-dirty);
  --query-builder-header-tools-favorite-icon-color: #f5b800;
  --query-bar-bg: #f1f4f8;
  --query-bar-bg-active: #ffefc1;
  --query-bar-border-color: #bcc9dc;
  --query-bar-border-color-active: #ffdc73;
  --query-bar-height: 100%;
  --query-bar-padding-top: 8px;
  --query-bar-padding-bottom: 8px;
  --query-bar-padding-right: 12px;
  --query-bar-padding-left: 12px;
  --query-bar-padding: var(--query-bar-padding-top) var(--query-bar-padding-right) var(--query-bar-padding-bottom) var(--query-bar-padding-left);
  --query-bar-identifier: #bcc9dc;
  --query-bar-identifier-width: 4px;
  --query-bar-identifier-active: #f5b800;
  --query-pill-bg: #dde4ee;
  --query-pill-bg-active: #ffc926;
  --query-pill-button-default-color: var(--query-default-action-default-color);
  --query-pill-button-hover-color: var(--query-default-action-hover-color);
  --query-pill-button-focus-color: var(--query-default-action-focus-color);
  --custom-pill-bg: #dde4ee;
  --custom-pill-bg-active: #ffc926;
  --custom-pill-button-default-color: var(--query-default-action-default-color);
  --custom-pill-button-hover-color: var(--query-default-action-hover-color);
  --custom-pill-button-focus-color: var(--query-default-action-focus-color);
  --query-values-bg: var(--white);
  --query-values-button-default-color: var(--query-default-action-default-color);
  --query-values-button-hover-color: var(--query-default-action-hover-color);
  --query-values-button-focus-color: var(--query-default-action-focus-color);
  --query-combiner-button-default-color: var(--query-default-action-default-color);
  --query-combiner-button-hover-color: var(--query-default-action-hover-color);
  --query-combiner-button-focus-color: var(--query-default-action-focus-color);
  --query-icon-operator-color: #5a77a0;
  --query-text-operator-color-hover: #26436e;
  --query-icon-operator-color-hover: #26436e;
  --query-icon-label-operator-color: #26436e;
  --query-total-color: inherit;
  --multi-label-inline-label-size: 1.4rem;
  --multi-label-inline-label-weight: 600;
  --multi-label-inline-sub-label-size: 1.4rem;
  --multi-label-inline-sub-label-weight: 600;
  --multi-label-inline-icon-space: 0.6rem;
  --multi-label-inline-label-space: 0.5rem;
  --multi-label-stack-label-size: 1.6rem;
  --multi-label-stack-label-weight: 600;
  --multi-label-stack-sub-label-size: inherit;
  --multi-label-stack-sub-label-weight: normal;
  --multi-label-stack-icon-space: 1.6rem;
  --multi-label-stack-top-icon-space: 1rem;
  --authorized-studies-widget-authenticated-header-height: 24px;
  --authorized-studies-widget-authenticated-header-margin-bottom: 8px;
  --toggle-filter-sc-button-color: #008fc7;
  --range-filter-grouped-inputs-spacer-color: #b5c6d8;
  --range-filter-grouped-inputs-color-color: #d9d9d9;
  --checkbox-filter-item-font-size: inherit;
  --checkbox-filter-item-line-height: inherit;
  --checkbox-filter-types-mc-footer: #0075a2;
  --checkbox-filter-links-hover: #0075a2;
  --checkbox-filter-link-font-size: inherit;
  --checkbox-filter-link-line-height: inherit;
  --checkbox-filter-actions-separator-background: #90a9c1;
  --checkbox-filter-actions-separator-links: #008fc7;
  --filter-no-results-text-background-color: #f0f3f8;
  --filter-no-results-text-color: #18486b;
  --filter-input-label-color: #000;
  --filter-actions-border-color: #d9d9d9;
  --filter-actions-disabled-border-color: #d7d8db;
  --filter-actions-disabled-background-color: #f3f4f6;
  --filter-actions-disabled-color: #8a8da8;
  --filter-input-error-border-color: #dd1f2a;
  --filter-container-header-has-filter-icon-color: #389e0d;
  --sidebar-menu-width: 180px;
  --sidebar-menu-collapsed-width: 50px;
  --sidebar-menu-background-color: #007694;
  --sidebar-menu-toggle-icon-size: 21px;
  --sidebar-menu-item-icon-size: 24px;
  --sidebar-menu-item-height: 50px;
  --sidebar-menu-item-text-color: #fff;
  --sidebar-menu-item-active-background-color: #00546e;
  --sidebar-menu-item-active-color: #fff;
  --sidebar-menu-item-hover-color: #fff;
  --sidebar-menu-item-hover-opacity: 0.8;
  --sidebar-menu-item-border-focus-color: #003447;
  --sidebar-quick-filter-input-box-shadow-hover: 0 0 0 2px #00546e;
  --sidebar-quick-filter-input-box-shadow-focus: 0 0 0 2px #007694, 0 0 0 3px white;
  --sidebar-quick-filter-input-placeholder-color: #8a8da8;
  --sidebar-quick-filter-input-text-color: #383f72;
  --sidebar-quick-filter-input-border-color-focus: #007694;
  --sidebar-quick-filter-higlight-color: var(--blue-2);
  --sidebar-content-panel-padding: 16px;
  --sidebar-content-panel-width: 320px;
  --sidebar-content-panel-close-icon-color: #007694;
  --sidebar-content-panel-right-border: 1px solid #d7d8db;
  --sidebar-content-panel-background-color: transparent;
  --sidebar-content-panel-close-icon-width: 16px;
  --grid-card-light-background-color: white;
  --grid-card-shade-background-color: #f8fafc;
  --empty-image-color: #b5c6d8;
  --empty-content-color: #486f90;
  --empty-content-mini-padding: 30px 0;
  --empty-content-default-padding: 50px 0;
  --empty-content-large-padding: 50px 0;
  --link-base-color: var(--blue-8);
  --collapse-light-background-color: white;
  --collapse-shade-background-color: #f8fafc;
  --collapse-header-border-color: #e1e8ef;
  --prolabel-required-mark-color: #a8071a;
  --file-upload-item-color: #1890ff;
  --variant-tag-color: #531dab;
  --variant-tag-bg-color: #efdbff;
  --canonical-icon-color: var(--blue-8);
  --entity-icon-size: 20px;
  --summary-bg-color: var(--gray-3);
  --color-tag-default-bg: var(--gray-4);
  --color-tag-default-color: var(--gray-8);
  --color-tag-boolean-true-bg: var(--green-2);
  --color-tag-boolean-true-color: var(--green-9);
  --color-tag-gender-female-bg: var(--magenta-2);
  --color-tag-gender-female-color: var(--magenta-9);
  --color-tag-gender-male-bg: var(--blue-2);
  --color-tag-gender-male-color: var(--blue-9);
  --color-tag-family-bg: var(--cyan-2);
  --color-tag-family-color: var(--cyan-9);
  --color-tag-position-proband-bg: var(--purple-2);
  --color-tag-position-proband-color: var(--purple-7);
  --color-tag-vital-status-alive-bg: var(--green-2);
  --color-tag-vital-status-alive-color: var(--green-9);
  --color-tag-vital-status-deceased-bg: var(--red-2);
  --color-tag-vital-status-deceased-color: var(--red-9);
  --color-tag-interpretation-observed-bg: var(--green-2);
  --color-tag-interpretation-observed-color: var(--green-9);
  --color-tag-pathogenic-bg: var(--red-2);
  --color-tag-pathogenic-color: var(--red-9);
  --color-tag-benign-bg: var(--green-2);
  --color-tag-benign-color: var(--green-9);
  --maintenance-page-bg: var(--gray-3);
  --maintenance-page-title: var(--gray-8);
  --maintenance-page-subtitle: var(--gray-9);
  --chart-title-color: var(--gray-8);
  --landing-card-gradient: linear-gradient(346deg, #1c3863 20.53%, #0369a1 100.05%),
      linear-gradient(299deg, #0369a1 0.84%, #1c3863 100.02%), #f0f3f8;
  --landing-cavatica-gradient: linear-gradient(300deg, rgba(210, 54, 254, 0.3) 0%, rgba(0, 170, 221, 0.3) 100%), #2e3f50;
  --landing-text-color: var(--gray-8);
  --landing-text-color-invert: var(--gray-1);
  --landing-text-icon-color-light: var(--blue-3);
  --landing-text-icon-color-dark: var(--gray-8);
  --landing-spot-icon-color-light: var(--blue-8);
  --landing-spot-icon-color-dark: var(--blue-3);
  --community-profile-banner-btn: var(--blue-5);

  --small-font: 1.2rem;

  --autocomplete-highlight-background: rgba(35, 164, 215, 0.2);
}
