@import "theme.template";

.ProTableWrapper {
  width: 100%;
}

.row {
  background-color: $summary-bg-color;
}

.cell {
  font-weight: 500;
  color: $heading-color;
}

.dotted {
  border-bottom: 1px dotted;
}