.titleHeader {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  color: var(--heading-color);
}
.titleHeader .titleLogoWrapper {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.titleHeader .titleWrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  border-left: 1px solid var(--gray-5);
  max-width: 600px;
  padding-left: 16px;
}
.titleHeader .title {
  margin-bottom: 0;
}
.titleHeader .tag {
  margin-left: 12px;
}
.titleHeader .extra {
  margin-left: auto;
}
.titleHeader .logoContainer {
  display: flex;
  max-height: 54px;
  max-width: 200px;
  margin-right: 16px;
}
.titleHeader .logo {
  max-width: 100%;
}
