@import "theme.template";

.fuiEmpty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  &.left {
    justify-content: left;
  }

  &.center {
    justify-content: center;
  }

  .contentWrapper {
    .title,
    .description {
      margin-bottom: 0;
      color: $empty-content-color;
    }

    .action {
      color: unset;
      margin-top: 24px;
    }
  }

  .image {
    display: flex;
    margin: auto;
    fill: $empty-image-color;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &.noPadding {
    padding: 0 !important;
  }

  &.mini {
    padding: $empty-content-mini-padding;

    .content {
      gap: 12px;
    }
    .title {
      font-size: 16px;
    }
    .image {
      &.imageRow {
        max-height: 28px;
      }
      &.imageGrid {
        max-height: 45px;
      }
    }
    .contentWrapper {
      gap: 4px;
    }
  }

  &.default {
    padding: $empty-content-default-padding;

    .content {
      gap: 16px;
    }
    .title {
      font-size: 20px;
    }
    .image {
      &.imageRow {
        max-height: 45px;
      }
      &.imageGrid {
        max-height: 75px;
      }
    }
    .contentWrapper {
      gap: 8px;
    }
  }

  &.large {
    padding: $empty-content-large-padding;
    .content {
      gap: 24px;
    }
    .title {
      font-size: 24px;
    }
    .image {
      &.imageRow {
        max-height: 72px;
      }
      &.imageGrid {
        max-height: 100px;
      }
    }
    .contentWrapper {
      gap: 16px;
    }
  }
}
