.selectInput {
    width: 100%;
    :global(.ant-select-selection-overflow){
        gap: 4px 4px;
    }
}
:global(.ant-select-multiple .ant-select-selector){
    padding: 2px;
}

.selectedOption {
    padding: 4px 12px;
    .noAssignments {
        margin-top: 0px;
    }
}

.assignmentOption{
    &:focus {
        background: none;
      }
}

.noAssignments {
    font-size: 12px;
    line-height: 20px;
    padding: 0;
    margin: 8px 0 2px 0;
    span {
        text-decoration: underline;
    }
}

.optionsList {
    max-height: 170px;
    width: 100%;
    overflow-y: auto;

    &.withMargin {
        margin-bottom: 12px;
    }

    button {
        width: -webkit-fill-available;
        padding: 0;
        text-align: left;
        height: 34px;
    }
}
