.selectInput {
    width: 100%;
}

.noAssignments {
    font-size: 12px;
    line-height: 20px;
    padding: 0;
    margin-top: 8px;
    span{
        text-decoration: underline;
    }
}

.optionsList {
    max-height: 160px;
    width: 100%;
    overflow-y: auto;

    &.withMargin {
        margin-bottom: 12px;
    }

    button {
        width: -webkit-fill-available;
        padding: 0;
        text-align: left;
    }
}

:global(.ant-select-dropdown){
    display: none;
}
