@import 'colors';
@import '../default/theme.template';

// Query builder
$query-bar-button-hover-color: $blue-7;
$query-bar-button-focus-color: $gray-8;

$small-font: 1.2rem;

$checkbox-filter-item-font-size: $small-font;
$checkbox-filter-link-font-size: $small-font;