@import "theme.template";

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  div[class$="rgl-drag-zone"] {
    cursor: move;
  }

  .cardHeadererContent {
    overflow: hidden;
    padding-left: 8px;
  }

  .dragHandle {
    font-size: 12px;
    color: $body-2;
    outline: none;
  }

  .infoPopover {
    margin-left: 5px;
  }

  .infoIcon {
    color: $body-2;
    font-size: 12px;
  }

  .titleContainer {
    overflow: hidden;
    width: 100%;
  }

  .title {
    color: $heading-color;
  }
}

.infoPopoverOverlay {
  max-width: 350px;
}



