.table-scrollable {
    overflow: auto;
}

.table-scrollable table thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 10;
}
.table-scrollable-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

