@import 'theme.template';

.container {
    max-width: 1600px;
    margin-bottom: 40px;

    .title {
        margin-bottom: 16px;
    }

    .collapse {
        .panel {
            .card {
                border: none;
                *[class$='-card-body'] {
                    padding: 0;
                }

                *[class$='-descriptions-item-label'] {
                    width: 30%;
                }

                .subTitle {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }

    .tableHeader {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

.rowDataset {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .descriptionsCard {
        margin-right: 24px;
        flex: 6;
    }

    .countCardContainer {
        padding: 24px;
        display: flex;
        flex: 0 1 220px;
    }
}

.rowCountCard {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 0 12px 0;

    .count {
        font-weight: 600 !important;
        font-size: 16px;
        line-height: 24px;
        color: $gray-8;
    }

    .name {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $gray-8;
    }
}
