@import "theme.template";

.widget {
  .authenticatedHeader {
    margin-bottom: 8px;

    .manageConnections {
      margin-left: 8px;
      padding: 0;
      font-size: 12px;
    }

    .disconnectBtn {
      margin-left: 8px;
      padding: 0;
      font-size: 12px;
      color: $red-7;
    }

    .notice {
      font-size: 12px;
      line-height: 10px;
    }
  }

  .content {
    border: 1px solid $gray-4;
    background: $gray-1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 24px 24px;
  }

  .listContent {
    height: 100%;
    display: flex;
    flex-direction: column;

    .listItemTitle > span::after {
      content: '';
      display: block;
    }
  }

  .contentFooter {
      margin-top: 12px;
      [ant-click-animating-without-extra-node='true']::after {
        display: none;
      }
  }

  .list {
    overflow: auto;
    min-height: 200px;
    height: 100%;

    div[class$='-item-meta'] {
      margin-bottom: 0;
    }

    *[class$='-item-meta-description'] {
      font-size: 12px;
    }
  }

  .cardHeader {
    width: 100%;

    .titleContainer {
      min-width: 200px;
    }

    .dragHandle {
      font-size: 16px;
      color: $gray-7;
      outline: none;
    }

    .infoIcon {
      color: $body-2;
      font-size: 18px;
    }

    .infoPopoverOverlay {
      max-width: 350px;
    }
  }

}

.infoPopover {
  margin-left: 5px;

  .infoPopoverContent {
    border: none;
    background: $gray-1;
  }
}


.popoverExternalLink {
  margin-left: 4px !important;
}

.contactSupport {
  margin-left: 4px;

  :global(.ant-typography) {
    color: $blue-8 !important;
  }
}

.disconnectErrorBtn {
  padding: 0 4px !important;
  padding: 0;
}
