/*ROOT font-size is declared on html*/
html {
    /*Defines what 1rem is.*/
    font-size: 62.5%; /*Do not set to pixel otherwise it prevents user to use his personal browser settings*/
    /*
      Percentage is calculated based on the default of 16px -> 10px / 16px = 62.5%
      We target a font-size of 10px for easy rem calculation (base 10)
    */
}