.container {
  max-width: 1600px;
  margin-bottom: 40px;

  .title {
    margin-bottom: 16px;
  }

  .collapse {
    margin-bottom: 16px;
    .panel {
      .card {
        border: none;
        *[class$="-card-body"] {
          padding: 0;
        }
      }
    }
  }
}
