@import "theme.template";

.participantLink {
  margin: 0;
}

.participantNumLink {
  text-decoration: underline;
  font-weight: 500;
}

.row {
  background-color: $summary-bg-color;
}

.cell {
  font-weight: 500;
  color: $heading-color;
}
