.basicDescription {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
}

.bordered {
  border: 1px solid var(--gray-4); 
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid var(--gray-4);
  justify-content: space-between;
}

.label {
  color: var(--gray-7);
}

.text {
  color: var(--gray-8);
}