@import '../variables';

.footer {
    background: $gray-2;
    border-top: 1px solid $gray-4;
    padding: 0px;
    color: $black;
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 2.4rem;

        &__text {
            display: flex;
            flex-direction: column;

            .more-info {
                margin: auto 0 0 0;
                color: $gray-7;
                line-height:2rem; 

                > a {
                    padding: 0;
                    color: $gray-7;
                    border-bottom: 1px dotted $gray-7;
                    line-height: 2rem;
                    height: auto;

                    &:hover {
                        border-bottom: 1px solid $gray-7;
                    }
                }
            }

            .title {
                font-size:1.6rem;
                font-weight:600;
                line-height:2.4rem;
                color: $gray-7;
                margin: 0;            
            }
        }

        &__logos {
            display: flex;
        }
    }
}

  