@import '../mixins';
@import '../variables';

.header {
    width: 100%;
    padding: 1.6rem;
    background-color: var(--white);
    box-shadow: var(--default-box-shadow);
    display: inline-grid;
    grid-template-columns: [logo] auto [nav] 2fr [actions] 4fr [language] auto;
    grid-gap: 0 4.2rem;
    align-items: center;
    min-height: 7.2rem;
    letter-spacing: .16px;
    position: relative;
    z-index: 10;
  
    &__logo {
        margin-left: 2.2rem;
        margin-right: 4rem;
    }
  
    &__nav {
        display: flex;

        .menu-item{
            display: flex;
            align-items: center;
            padding: 0.8rem;
            margin: 0;
            background: var(--gray-2);
            &-icon {
                margin-right: .8rem;
            }

            &:hover,&:focus-visible{
                color: var(--gray-8);
                background-color: var(--white);
                border-color: var(--gray-4);
            }
            &:focus {
                color: var(--gray-8);
                background-color: var(--white);
                border-color: var(--gray-8);
            }
            &:active, &.--active{
                color: var(--blue-7);
                border-color: var(--blue-7);
            }    
        }

        a:not(:last-child){
            margin-right: 1rem;
        }
    }
  
    &__actions {
        display: flex;
        justify-self: flex-end;
        align-items: center;
        margin-right: -3.2rem;

        .separator {
            margin: 0 1.6rem 0 .8rem;
            border-left: 1px solid var(--gold-6);
            height: 1.9em;
        }

        .login, .logout {
            display: flex;
            align-items: center;
            padding: .5rem .8rem;
            .icon {
                margin-right: .5rem;
            }
        }

        .link {
            font-size: 1.2rem;
            padding: 0;
            margin-right: 1rem;
            color: var(--gray-7);
            text-decoration: none;
            &--icon {
                margin-left: .5rem;
            }

            &:not([disable]):hover {
                text-decoration: underline;
                color: var(--gray-7);
            }

            &:focus-visible {
                color: var(--blue-7);
            }
        }
    }
}
