@import "theme.template";

.fuiUploadIdsModalWrapper {
  .space {
    width: 100%;
    
    .ListItem {
      .paperClipIcon {
        font-size: 18px;
        display: flex;
      }
      .ListItemText {
        display: flex;
        gap: 5px
      }
      .ListItemDefault {
        color: $file-upload-item-color;
      }
    }
  }

  .upload {
    display: flex;
    flex-direction: column;

    :global(.ant-upload-list) {
      margin-top: 8px;
    }
  }

  .matchUnmatch {
    margin-top: 32px;
  }

  .tablesMessages {
    margin-bottom: 12px;
  }

  td {
    &.tableCell {
      text-align: left !important;
    }
  }

  .tableCell {
    width: 50%;
  }

  .tablePagination {
    margin-bottom: 0;
  }

  .tabs {
    :global(.ant-tabs-tab) {
      padding-top: 0;
    }

    :global(.ant-tabs-tab-btn) {
      font-weight: 500;
    }
  }
}
