@import "theme.template";

.fuiUploadIdsModalWrapper {
  .space {
    width: 100%;

    span[class^="ProLabel_title"] {
      font-weight: 600;
    }
  }

  .upload {
    :global(.ant-upload-list) {
      margin-top: 8px;
    }

    .ListItem {
      color: $file-upload-item-color;

      .paperClipIcon {
        font-size: 18px;
        display: flex;
      }
    }
  }

  .matchUnmatch {
    margin-top: 32px;
  }

  .collapsePanel {
    :global(.ant-collapse-content-box) {
      padding-top: 5px !important;
    }
  }

  .tableCell {
    width: 50%;
  }

  .tablePagination {
    margin-bottom: 0;
  }

  .tabs {
    :global(.ant-tabs-tab-btn) {
      font-weight: 500;
    }
  }
}
